<a class="logo-a" href=@Url.Action("Index")>
    <img class="mb-5" src="~/images/logo.svg" alt="Glosy logo" id="logo-img" />
</a>

<style>
    .logo-a {
        text-decoration: none !important;
        position: relative;
    }

    #logo-img {
        max-height: 70px;
        width: auto;
        height: auto;
    }

    .logo-caption {
        font-family: 'Figtree';
        color: var(--accent-color);
        position: absolute;
        left: 80px;
        top: 77px;
        line-height: 16px;
        font-size: medium;
        font-weight: 900;
    }
</style>