:root {
    --accent-color: black;
    --accent-color-dark: #8a8987;
    --dark-grey: #1e1e1e;
    --grey: #4f4f4e;
    --light-grey: #8a8987;
    --lighter-grey: #c7c7c7;
    --red: #d44054;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 960px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Nunito' !important;
}

label {
    margin-bottom: 10px;
}

.h5 {
    font-weight: 600;
}

.btn {
    border-radius: 1rem;
}

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

    .btn-primary:hover {
        filter: brightness(0.8);
        background-color: var(--dark-grey);
    }

    .btn-primary:focus {
        background-color: var(--dark-grey);
    }

    /*clicked*/
    .btn-primary:active {
        background-color: var(--grey);
    }

:focus {
    box-shadow: 0 0 0 0.1rem var(--accent-color-dark) !important;
}

.audio-preview {
    width: 100%;
    height: 40px;
}

.form-control {
    border-radius: 1rem;
    border: 1px solid var(--lighter-grey);
}

.recording-button {
    border: 1px solid var(--lighter-grey);
    color: var(--bs-body-color);
}

    .recording-button:hover {
        background-color: var(--red);
        color: white;
    }

.text-muted img {
    filter: invert(45%) sepia(0%) saturate(100%) hue-rotate(180deg);
    vertical-align: text-top;
    height: 16pt;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

.recording-button:hover i::before {
    color: white;
}

.recording-button i {
    color: var(--red);
}

.stop-recording-button {
    background-color: var(--red);
    color: white;
}

    .stop-recording-button i::before {
        color: white;
    }
