@model AudioConversionModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 mb-5">Glosy</h1>

    @using (Html.BeginForm("ConvertVoice", "Home", FormMethod.Post, new
    { enctype = "multipart/form-data" }))
    {
        <div class="d-grid gap-3">

            <div>
                @Html.LabelFor(m => m.SourceFile, "Source voice:")
                @Html.TextBoxFor(m => m.SourceFile, new { type = "file", required = "required", accept = ".wav", @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(m => m.TargetFile, "Make it sound like:")
                @Html.TextBoxFor(m => m.TargetFile, new { type = "file", required = "required", accept = ".wav", @class = "form-control" })
            </div>

            <button class="btn btn-primary" type="submit" title="Convert audio file">Convert Voice</button>
        </div>
    }

</div>
