# numpy>=1.25.2,<2.0
# cython>=3.0.0
# scipy>=1.11.2
# torch>=2.1
# torchaudio>=2.1.0
# soundfile>=0.12.0
librosa>=0.10.1
inflect>=5.6.0
# tqdm>=4.64.1
anyascii>=0.3.0
pyyaml>=6.0
# fsspec[http]>=2023.6.0
packaging>=23.1
# typing_extensions>=4.10
pysbd>=0.3.4
# matplotlib>=3.7.0
coqui-tts-trainer>=0.2.0,<0.3.0
coqpit-config>=0.1.1,<0.2.0
monotonic-alignment-search>=0.1.0
#gruut[de,es,fr]>=2.4.0
einops>=0.6.0
transformers>=4.43.0,<=4.46.2
# encodec>=0.1.1
num2words>=0.5.14
spacy[en]>=3.2,<3.8
requests
aiohttp